<div class="home-container">
    <h1>{{ welcomeMessage }}</h1>
    <p>
      Hello! I am Tejas Modhave, a fresher seeking an entry-level opportunity. Here is my portfolio where you can explore my projects, skills, and more.
    </p>
    <div class="home-introduction">
      <p>Learn more about me and the technologies I work with.</p>
      <button routerLink="/about" class="btn-about">About Me</button>
      <button routerLink="/projects" class="btn-projects">My Projects</button>
    </div>
  </div>
  